---
import Education from '../components/Education.astro';
import Greeting from '../components/Greeting.astro';
import Helps from '../components/Helps.astro';
import Hero from '../components/Hero.astro';
import Pricing from '../components/Pricing.astro';
import Reviews from '../components/Reviews.astro';
import Map from '../components/Map.astro';
import Layout from '../layouts/Layout.astro';
import Contacts from '../components/Contacts.astro'
---

<Layout title="Welcome to Astro.">
  <main class="pt-32 overflow-clip">
    <Hero />
    <Greeting />
    <Pricing
      price_individual={1200}
      time_individual="50 мин"
      price_therapeutic={1500}
      time_therapeutic="3 часа"
    />
    <Helps />
    <Reviews />
    <Education />
    <Map />
    <Contacts />
  </main>
</Layout>
