---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon';

const helps = [
  { link: '#', label: 'г. Калининград, ул. Генделя, 3А', icon: 'baseline-location-on' },
  { link: '#', label: '8 (911) 491 88-54', icon: 'baseline-phone' },
  { link: '#', label: 'tvoypsikholog39@mail.ru', icon: 'baseline-email' },
  { link: '#', label: 'WhatsApp', icon: 'baseline-whatsapp' },
];

const socials = [
  { link: '#', icon: 'cib:telegram-plane' },
  { link: '#', icon: 'ri:instagram-line' },
  { link: '#', icon: 'fa:vk' },
];
---

<div class="container px-5 py-10">
  <h2 class="text-4xl xl:text-5xl mb-5 text-center">Контакты</h2>
  <div
    class="flex flex-col lg:flex-row items-center lg:items-end justify-between pt-5 border-4 border-primary rounded-lg">
    <div class="p-6 lg:p-12">
      <h3 class="text-3xl lg:text-4xl lg:whitespace-nowrap mb-5">
        Запишитесь или задайте мне вопрос
      </h3>
      <ul class="mb-10">
        {
          helps.map((help) => (
            <li class="flex items-center gap-2 mb-5 last:mb-0">
              <div class="w-[36px] h-[36px] bg-primary p-2 grid place-items-center place-content-center rounded-full">
                <Icon name={`ic:${help.icon}`} class="w-7 h-7 text-white" />
              </div>
              <a href={help.link} class="text-xl hover:text-[#70b6ef] transition-colors">
                {help.label}
              </a>
            </li>
          ))
        }
      </ul>
      <div>
        <h3 class="text-3xl mb-5">Дополнительные контакты</h3>
        <ul class="mb-10 flex items-center gap-5">
          {
            socials.map((social) => (
              <li>
                <a
                  href="#"
                  class=" w-[45px] h-[45px] md:w-[60px] md:h-[60px] hover:scale-105 transition-transform  bg-primary p-2 grid place-items-center  rounded-full">
                  <Icon name={`${social.icon}`} class=" w-7 h-7 md:w-10 md:h-10 text-white" />
                </a>
              </li>
            ))
          }
        </ul>
        <ul></ul>
      </div>
    </div>
    <Image
      src={import('../assets/flowers.png')}
      class="max-w-full sm:max-w-[500px] xl:max-w-[720px] lg:-ml-48 xl:-ml-12"
      alt="flowers"
      quality={100}
    />
  </div>
</div>
