<section class='container py-10 md:py-20'>
	<h2 class='text-4xl xl:text-5xl mb-5 text-center'>Чем я могу тебе помочь?</h2>
	<div class='flex items-stretch flex-col lg:flex-row w-full gap-10 lg:gap-5'>
		<div class='flex flex-col gap-10 lg:gap-5 w-full'>
			<div class='bg-white drop-shadow-lg p-4 rounded-2xl flex items-center gap-10 relative'>
				<div
					class='size-10 lg:size-16 absolute -left-2 -top-5 lg:relative lg:top-0 lg:left-0 bg-primaryLight rounded-full grid place-items-center'>
					<span class='text-primaryDark font-bold text-2xl lg:text-4xl'>1</span>
				</div>
				<ul class='text-gray list-disc pl-3 lg:pl-0 font-medium text-lg'>
					<li>Разрешение внутренних и конфликтов;</li>
					<li>Сомнения в принятии важных решений;</li>
					<li>Неуверенность в себе.</li>
				</ul>
			</div>
			<div class='bg-white drop-shadow-lg p-4 rounded-2xl flex items-center gap-10 relative'>
				<div
					class='size-10 lg:size-16 absolute -left-2 -top-5 lg:relative lg:top-0 lg:left-0 bg-primaryLight rounded-full grid place-items-center'>
					<span class='text-primaryDark font-bold text-2xl lg:text-4xl'>2</span>
				</div>
				<ul class='text-gray list-disc pl-3 lg:pl-0 font-medium text-lg'>
					<li>Потеря смысла и интереса к жизни;</li>
					<li>Усталось;</li>
					<li>Апатия;</li>
					<li>Состояние одиночества и ненужности.</li>
				</ul>
			</div>
			<div class='bg-white drop-shadow-lg p-4 rounded-2xl flex items-center gap-10 relative'>
				<div
					class='size-10 lg:size-16 absolute -left-2 -top-5 lg:relative lg:top-0 lg:left-0 bg-primaryLight rounded-full grid place-items-center'>
					<span class='text-primaryDark font-bold text-2xl lg:text-4xl'>3</span>
				</div>
				<ul class='text-gray list-disc pl-3 lg:pl-0 font-medium text-lg'>
					<li>Повышенный уровень тревожности;</li>
					<li>Навязчивые мысли;</li>
					<li>Панические атаки;</li>
					<li>Страхи и фобии;</li>
					<li>Депрессия;</li>
					<li>ОКР или БАР.</li>
				</ul>
			</div>
		</div>
		<div class='flex flex-col gap-10 lg:gap-5 w-full'>
			<div class='bg-white drop-shadow-lg p-4 rounded-2xl flex items-center gap-10 relative'>
				<div
					class='size-10 lg:size-16 absolute -left-2 -top-5 lg:relative lg:top-0 lg:left-0 bg-primaryLight rounded-full grid place-items-center'>
					<span class='text-primaryDark font-bold text-2xl lg:text-4xl'>4</span>
				</div>
				<ul class='text-gray list-disc pl-3 lg:pl-0 font-medium text-lg'>
					<li>Трудности в семейных и личных отношениях;</li>
					<li>Выход из зависимых и абьюзивных отношений;</li>
					<li>Переживание развода или утраты близкого человека;</li>
					<li>Построение новых и здоровых отношений.</li>
				</ul>
			</div>
			<div class='bg-white drop-shadow-lg p-4 rounded-2xl flex items-center gap-10 relative'>
				<div
					class='size-10 lg:size-16 absolute -left-2 -top-5 lg:relative lg:top-0 lg:left-0 bg-primaryLight rounded-full grid place-items-center'>
					<span class='text-primaryDark font-bold text-2xl lg:text-4xl'>5</span>
				</div>
				<ul class='text-gray list-disc pl-3 lg:pl-0 font-medium text-lg'>
					<li>Межличностные отношения;</li>
					<li>Зависимость от общественного мнения;</li>
					<li>Влияние людей на вашу жизнь;</li>
					<li>Конфликты на работе;</li>
					<li>Желание карьерного роста.</li>
				</ul>
			</div>
			<div class='bg-[#dceafb66] text-center drop-shadow-lg p-4 rounded-2xl text-lg text-gray font-medium'>
				<p><strong>Если ты узнал себя,</strong> значит тебе есть что со мной обсудить</p>
				<p>
					<a href='#' class='text-[#3A85BF] hover:underline'>Позвони</a> или
					<a href='#' class='text-[#3A85BF] hover:underline'>напиши</a>
				</p>
			</div>
		</div>
	</div>
</section>
