<h2 class="text-4xl xl:text-5xl mb-5 text-center px-3.5">г. Калининград, ул. Генделя, 3А</h2>
<div class="map__block h-[500px] w-full mb-20" id="map"></div>

<script defer>
const mapElement = document.getElementById('map')

const loadMap = () => {
	if (!mapElement.classList.contains('js--loaded')) {
		mapElement.classList.add('js--loaded')
		if (typeof ymaps === 'undefined') {
			const script = document.createElement('script')
			script.src =
				'https://api-maps.yandex.ru/2.1/?apikey=59037372-5663-482e-9a7d-56426e4a0f94&lang=ru_RU&onload=init'
			script.onload = () => ymaps.ready(init)
			script.onerror = () => console.log('error load ymaps')
			document.head.appendChild(script)
		} else {
			ymaps.ready(init)
		}
	}
}

const handleIntersection = (entries) => {
	if (entries[0].isIntersecting) {
		loadMap()
		iObserver.unobserve(entries[0].target)
	}
}

const iObserver = new IntersectionObserver(handleIntersection, { threshold: [0] })
iObserver.observe(mapElement)

function init() {
	const myMap = new ymaps.Map('map', {
		controls: [],
		center: [54.72165, 20.496563],
		zoom: 17,
	})

	let myPlacemark = new ymaps.Placemark(
		[54.72165, 20.496563],
		{
			balloonContentHeader: 'Генделя, дом 3А',
			balloonContentBody: '2 этаж, кабинет 205',
			balloonContentFooter: '+ 7(911)-491-88-54',
			hasBalloon: true,
			hideIconOnBalloonOpen: true,
		},
		{
			// Необходимо указать данный тип макета.
			iconLayout: 'default#imageWithContent',
			// Своё изображение иконки метки.
			iconImageHref: '/map.svg',
			// Размеры метки.
			iconImageSize: [40, 40],
			// Смещение левого верхнего угла иконки относительно
			// её "ножки" (точки привязки).
			iconImageOffset: [-20, -20],
			// Смещение слоя с содержимым относительно слоя с картинкой.
			iconContentOffset: [0, 0],
		},
	)
	myMap.geoObjects.add(myPlacemark)
	myMap.behaviors.disable('scrollZoom')
}
</script>
