---
import { Image } from 'astro:assets';

const images = [
	{ url: import('@assets/office/1.jpg') },
	{ url: import('@assets/office/12.jpg') },
	{ url: import('@assets/office/2.jpg') },
	{ url: import('@assets/office/10.jpg') },
	{ url: import('@assets/office/6.jpg') },
	{ url: import('@assets/office/9.jpg') },
	{ url: import('@assets/office/3.jpg') },
	{ url: import('@assets/office/7.jpg') },
	{ url: import('@assets/office/5.jpg') },
	{ url: import('@assets/office/4.jpg') },
	{ url: import('@assets/office/8.jpg') },
	{ url: import('@assets/office/11.jpg') },
];
---

<div class='container py-10'>
	<h2 class="text-4xl xl:text-5xl mb-5 text-center">Кабинет</h2>
	<div class='columns sm:columns-2 md:columns-4'>
		{
			images.map((image, index) => (
				<Image
					src={image.url}
					quality={90}
					alt='image'
					class={`object-cover rounded-lg mb-3 ${index == 1 && 'h-[600px]'}`}
				/>
			))
		}
	</div>
</div>
