---
import '@fontsource-variable/el-messiri';
import '@fontsource/raleway/400.css';
import '@fontsource/raleway/500.css';
import '@fontsource/raleway/700.css';

import { Seo } from 'astro-seo-meta';
import '../base.css';

import Header from './Header.astro';
import Footer from './Footer.astro';
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <Seo title="Виктория Арсланова - Твои Психолог" description="My fast astro website" icon="favicon.ico" />
  </head>
  <body class="bg-white dark:bg-gray-900 transition-colors">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
